.config-infos-container{
    display:flex;
}

.config-infos-actions{
    height: inherit;
    padding-right:1em;
    cursor: pointer;
    border-right: 1px solid;
}

.config-infos-info{
    padding-left:1em;
}